<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nuist.mapper.ProblemBankMapper">

    <resultMap id="BaseResultMap" type="org.nuist.po.ProblemBankPO">
        <id column="problem_id" property="id" jdbcType="BIGINT"/>
        <result column="origin" property="origin" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="expected_answer" property="expectedAnswer" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="NUMERIC"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 分页查询 -->
    <select id="selectPage" resultMap="BaseResultMap">
        SELECT problem_id, origin, title, content, type,
                expected_answer, score, created_at, updated_at
        FROM problem_bank
        ORDER BY created_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 计数查询 -->
    <select id="countPage" resultType="long">
        SELECT COUNT(1)
        FROM problem_bank
    </select>
</mapper>